@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.arrow-topright {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0;
  border-color: transparent #fbe7f3 transparent transparent;
}

@layer components {
  .btn {
    @apply cursor-pointer text-black font-semibold hover:text-primary transition-all ease-in-out duration-200;
  }
  .btn-logout {
    @apply cursor-pointer text-primary-dark font-semibold hover:text-primary transition-all ease-in-out duration-200;
  }
}
